/* Google Font Link */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
.sidebar {
  /* sidebar pas ketutup */
  position: fixed;
  background-color: #5b74a7;
  left: 0;
  top: 0;
  height: 100%;
  width: 79px;
  z-index: 99;
  transition: all 0.5s ease;
}
.logo {
  margin-right: 10%;
}
.logo-oxyzen {
  opacity: 0;
  margin: auto;
  margin-top: 20px;
  width: 100px;
  transition: all 0.5s ease;
}
.sidebar.open .logo-oxyzen {
  opacity: 1;
  pointer-events: auto;
  transition: all 0.5s ease;
}
.logo-lung {
  opacity: 0;
  margin: auto;
  padding: 20px;
  margin-top: 30px;
  width: 180px; /* ukuran logo jantung */
  transition: all 0.5s ease;
}
.sidebar.open .logo-lung {
  opacity: 1;
  pointer-events: auto;
  transition: all 0.5s ease;
}
.logo-stechoq {
  opacity: 0;
  margin: auto;
  margin-top: 78px;
  width: 200px; /* ukuran logo stechoq */
  transition: all 0.5s ease;
}
.sidebar.open .logo-stechoq {
  opacity: 1;
  pointer-events: auto;
  transition: all 0.5s ease;
}
.break {
  margin-bottom: 20px;
}
.sidebar-top {
  height: 150px;
  background-color: #5b74a7;
}
.sidebar.open {
  width: 250px;
}
.sidebar .logo-details {
  height: 100px;
  display: flex;
  align-items: center;
  position: relative;
}
.sidebar .logo-details .icon {
  transition: all 0.5s ease;
}
.sidebar .logo-details .logo_name {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  opacity: 0;
  transition: all 0.5s ease;
}
.sidebar.open .logo-details .icon,
.sidebar.open .logo-details .logo_name .logo-oxyzen {
  opacity: 1;
}
.sidebar .logo-details #btn {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  font-size: 22px;
  transition: all 0.4s ease;
  font-size: 23px;
  text-align: center;
  cursor: pointer;
  transition: all 0.5s ease;
}
.sidebar.open .logo-details #btn {
  text-align: right;
}
.sidebar-list {
  height: 350px;
  padding: 6px 14px;
  background: #242a37;
  border-radius: 0px 15px 0px 0px; /* radius sidebar nya */
}
.sidebar-footer {
  height: 100%;
  padding: 6px 14px;
  background: #242a37;
}

/* penambahan responsivitas  */

.sidebar i {
  color: #fff;
  height: 60px;
  min-width: 50px;
  font-size: 28px;
  text-align: center;
  line-height: 60px;
}
/* .sidebar .nav-list {

} */
.nav-list {
  margin-top: 30px;
}

.nav-list .aktif {
  background: #ffd428;
  color: #1d1b31;
}

.sidebar li {
  position: relative;
  margin: 8px 0;
  list-style: none;
}

.sidebar li .tooltip {
  position: absolute;
  top: -20px;
  left: calc(100% + 15px);
  z-index: 3;
  background: #fff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  padding: 6px 12px;
  border-radius: 4px;
  font-size: 15px;
  font-weight: 400;
  opacity: 0;
  white-space: nowrap;
  pointer-events: none;
  transition: 0s;
}
.sidebar li:hover .tooltip {
  opacity: 1;
  pointer-events: auto;
  transition: all 0.4s ease;
  top: 50%;
  transform: translateY(-50%);
}
.sidebar.open li .tooltip {
  display: none;
}

.sidebar li a {
  display: flex;
  height: 100%;
  width: 100%;
  border-radius: 12px;
  align-items: center;
  text-decoration: none;
  transition: all 0.4s ease;
  background: #293a58;
}
.sidebar li a:hover {
  background: #ffd428;
  /* transition: all 0.5s ease;
  color: #242a37; */
}
.sidebar li a .links_name {
  color: #fff;
  font-size: 15px;
  font-weight: 400;
  white-space: nowrap;
  opacity: 0;
  pointer-events: none;
  transition: 0.4s;
}
.sidebar.open li a .links_name {
  opacity: 1;
  pointer-events: auto;
}
.sidebar li a:hover .links_name,
.sidebar li a:hover i {
  transition: all 0.5s ease;
  color: #242a37;
}

.sidebar li i {
  height: 50px;
  line-height: 50px;
  font-size: 18px;
  border-radius: 12px;
}
.sidebar li.profile {
  position: fixed;
  height: 60px;
  width: 78px;
  left: 0;
  bottom: -8px;
  padding: 10px 14px;
  background: #1d1b31;
  transition: all 0.5s ease;
  overflow: hidden;
}
.sidebar.open li.profile {
  width: 250px;
}
.sidebar li .profile-details {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
}
.sidebar li img {
  height: 45px;
  width: 45px;
  object-fit: cover;
  border-radius: 6px;
  margin-right: 10px;
}
.sidebar li.profile .name,
.sidebar li.profile .job {
  font-size: 15px;
  font-weight: 400;
  color: #fff;
  white-space: nowrap;
}
.sidebar li.profile .job {
  font-size: 12px;
}
.sidebar .profile #log_out {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  background: #1d1b31;
  width: 100%;
  height: 60px;
  line-height: 60px;
  border-radius: 0px;
  transition: all 0.5s ease;
}
.sidebar.open .profile #log_out {
  width: 50px;
  background: none;
}
.home-section {
  position: relative;
  background: #293a58;
  min-height: 100vh;
  top: 0;
  left: 78px;
  width: calc(100% - 78px);
  transition: all 0.5s ease;
  z-index: 2;
  overflow: hidden;
  color: #fff;
  font-size: 16px;
  padding: 18px 34px;
  text-align: justify;
}
.sidebar.open ~ .home-section {
  left: 250px;
  width: calc(100% - 250px);
}
.home-section .text {
  position: absolute;
  display: inline-block;
  color: #fff;
  font-size: 25px;
  font-weight: 600;
  margin: 18px;
  float: none;
}

/* .home-section .stechoq {
  float: right;
  width: 160px;
  height: 35px;
  margin: 18px;
} */

.home-section .container-chart {
  width: auto;
  margin-bottom: 45px;
  background: #242a37;
  box-sizing: border-box;
  border: 1px solid;
  border-radius: 5px;
}
.home-section .container-output {
  width: 100%;
  float: right;
  background: #242a37;
  box-sizing: border-box;
  border-radius: 5px;
  border: 1px solid;
  text-align: center;
  margin-bottom: 4%;
}
.home-section .container-input {
  width: 48%;
  justify-content: center;
  margin-left: 1%;
  margin-right: 1%;
  float: left;
  background: #242a37;
  box-sizing: border-box;
  border-radius: 5px;
  border: 1px solid;
  text-align: center;
  margin-bottom: 4%;
}

.title-sensor {
  color: #ffffff;
  font-weight: 700;
  font-size: 24px;
  justify-content: center;
  text-align: center;
}

.container-output button {
  background-color: transparent;
  cursor: pointer;
  border-radius: 5px;
  width: 100%;
}

.container-output-2 .start-button {
  border: 1px solid #ffd428;
  background-color: #242a37;
  cursor: pointer;
  border-radius: 15px;
  width: 100%;
  margin-bottom: 20px;
}

.start-button:hover .text-start {
  border: 1px solid #ffd428;
  background-color: #ffd428;
  cursor: pointer;
  border-radius: 15px;
  width: 100%;
  color: black;
}

.sensor-output .value {
  margin-left: 20px;
  float: left;
  font-family: "Rounded Mplus 1c", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 100px;
}
.flow {
  color: #85e426;
}
.pressure {
  color: #24d4ec;
}
.sensor-output .unit-output {
  font-weight: 700;
  font-size: 30px;
  text-decoration-line: underline;
  padding-top: 35px;
}
.home-section .container-chart .title {
  padding-top: 10%;
  padding-left: 2%;
  font-weight: 600;
  font-size: 24px;
}
.home-section .container-chart .unit {
  float: right;
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
}

.a {
  display: flex;
  justify-content: center;
}

input {
  text-align: center;
  border-radius: 5px;
  width: 100%;
  background-color: #24d4ec;
  color: #fff;
  font-family: "Rounded Mplus 1c";
  font-weight: 500;
  font-size: 55px;
}

.home-section .container {
  width: 80%;
  height: 70%;
  border: 2px solid #ffd428;
  border-radius: 5px;
  background: rgba(36, 42, 55, 1);
  margin: 10% 10%;
}

.home-section .container .content-info {
  /* padding-top: 5%;
  padding-right: 7%;
  padding-left: 7%; */
  padding-top: 44px;
  padding-right: 76px;
  padding-left: 52px;
  text-transform: uppercase;
  font-style: normal;
  /* font-weight: 500;
  font-size: 100%;
  line-height: 150%; */
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}

.home-section .container .img-info {
  width: 87%;
  height: 60.4%;
  padding-left: 18%;
  padding-right: 8%;
  padding-top: 1%;
  margin-bottom: -0.6%;
  /* width: 100%;
  height: 299px;
  padding-left: 195px;
  padding-right: 195px; */
}
.home-section .container .content {
  display: flex;
}

.home-section .container .content .how-to-use {
  padding-top: 24px;
  padding-left: 48px;
  padding-right: 50px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 26px;
}
.home-section .container .content .img-how-to-use {
  margin-top: 222px;
  padding-right: 10px;
  width: 50%;
  height: 328px;
}

.home-section .container .content .about {
  position: absolute;
  padding-top: 12%;
  padding-left: 16%;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  text-transform: uppercase;
}

.home-section .container .content .img-about {
  width: 30%;
  height: 20%;
  margin-top: 27%;
  margin-left: 67%;
  border-bottom-right-radius: 5%;
}

.left-area {
  margin-top: 70px;
  float: left;
  width: 60%;
}

.right-area {
  margin-top: 70px;
  width: 35%;
  float: right;
}

.chart {
  display: flex;
  flex-wrap: wrap;
}

.text-start {
  padding: 10px;
  align-items: center;
}
