/* Google Font Link */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
canvas {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 0;
  background: transparent;
}
/* .sidebar { */
/* sidebar pas ketutup */
/* position: fixed;
  background-color: #5b74a7;
  left: 0;
  top: 0;
  height: 100%;
  width: 79px;
  z-index: 99;
  transition: all 0.5s ease; */

.sidebar {
  /* sidebar pas ketutup */
  position: fixed;
  background-color: #e4e5f1;
  left: 0;
  top: 0;
  height: 100%;
  width: 79px;
  z-index: 99;
  transition: all 0.5s ease;
}

.logo {
  margin-right: 10%;
}
.logo-oxyzen {
  opacity: 0;
  margin: auto;
  margin-top: 20px;
  width: 100px;
  transition: all 0.5s ease;
}
.sidebar.open .logo-oxyzen {
  opacity: 1;
  pointer-events: auto;
  transition: all 0.5s ease;
}
.logo-lung {
  opacity: 0;
  margin: auto;
  padding: 20px;
  margin-top: 30px;
  width: 180px; /* ukuran logo jantung */
  transition: all 0.5s ease;
}
.sidebar.open .logo-lung {
  opacity: 1;
  pointer-events: auto;
  transition: all 0.5s ease;
}
.logo-stechoq {
  opacity: 0;
  margin: auto;
  margin-top: 78px;
  width: 200px; /* ukuran logo stechoq */
  transition: all 0.5s ease;
}
.sidebar.open .logo-stechoq {
  opacity: 1;
  pointer-events: auto;
  transition: all 0.5s ease;
}
.break {
  margin-bottom: 20px;
}
.sidebar-top {
  height: 150px;
  background-color: #e4e5f1;
}
.sidebar.open {
  width: 250px;
}
.sidebar .logo-details {
  height: 100px;
  display: flex;
  align-items: center;
  position: relative;
}
.sidebar .logo-details .icon {
  transition: all 0.5s ease;
}
.sidebar .logo-details .logo_name {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  opacity: 0;
  transition: all 0.5s ease;
}
.sidebar.open .logo-details .icon,
.sidebar.open .logo-details .logo_name .logo-oxyzen {
  opacity: 1;
}
.sidebar .logo-details #btn {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  font-size: 22px;
  transition: all 0.4s ease;
  font-size: 23px;
  text-align: center;
  cursor: pointer;
  transition: all 0.5s ease;
}
.sidebar.open .logo-details #btn {
  text-align: right;
}

/* warna tombol sidebar */
.sidebar .sidebar-top .logo-details i {
  color: #242a37;
}

.sidebar-list {
  height: 350px;
  padding: 6px 14px;
  /* background: #242a37; */
  background: #ffffff;
  border-radius: 0px 15px 0px 0px; /* radius sidebar nya */
}
.sidebar-footer {
  height: 100%;
  padding: 6px 14px;
  background: #ffffff; /* warna sidebar*/
}

/* penambahan responsivitas  */

.sidebar i {
  color: #ffffff;
  height: 60px;
  min-width: 50px;
  font-size: 28px;
  text-align: center;
  line-height: 60px;
}
/* .sidebar .nav-list {

} */
.nav-list {
  margin-top: 30px;
}

.nav-list .aktif {
  background: #484b6a;
  color: #61677f;
}

.sidebar li {
  position: relative;
  margin: 8px 0;
  list-style: none;
}

.sidebar li .tooltip {
  position: absolute;
  top: -20px;
  left: calc(100% + 15px);
  z-index: 3;
  background: #61677f;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  padding: 6px 12px;
  border-radius: 4px;
  color: #f6f6f6;
  font-size: 15px;
  font-weight: 400;
  opacity: 0;
  white-space: nowrap;
  pointer-events: none;
  transition: 0s;
}
.sidebar li:hover .tooltip {
  opacity: 1;
  pointer-events: auto;
  transition: all 0.4s ease;
  top: 50%;
  transform: translateY(-50%);
}
.sidebar.open li .tooltip {
  display: none;
}

.sidebar li a {
  display: flex;
  height: 100%;
  width: 100%;
  border-radius: 12px;
  align-items: center;
  text-decoration: none;
  transition: all 0.4s ease;
  background: #e4e5f1; /* warna kotakan sidebar tidak aktif */
}
.sidebar li a:hover {
  background: #484b6a;
  /* transition: all 0.5s ease;
  color: #242a37; */
}

/* icon icon sidebar */

/* aktif iconya */
.sidebar li a .links_name {
  color: #ffffff;
  font-size: 15px;
  font-weight: 400;
  white-space: nowrap;
  opacity: 0;
  pointer-events: none;
  transition: 0.4s;
}
.sidebar.open li a .links_name {
  opacity: 1;
  pointer-events: auto;
}
.sidebar li a:hover .links_name,
.sidebar li a:hover i {
  transition: all 0.5s ease;
  color: #ffffff;
}

/* flow sensor */
.sidebar li a .links_namesen {
  color: #61677f;
  font-size: 15px;
  font-weight: 400;
  white-space: nowrap;
  opacity: 0;
  pointer-events: none;
  transition: 0.4s;
}
.sidebar li .sen i {
  /* warna icon sidebar */
  color: #61677f;
}
.sidebar.open li a .links_namesen {
  opacity: 1;
  pointer-events: auto;
}
.sidebar li a:hover .links_namesen,
.sidebar li a:hover i {
  transition: all 0.5s ease;
  color: #ffffff;
}

/* info */
.sidebar li a .links_nameinfo {
  color: #61677f;
  font-size: 15px;
  font-weight: 400;
  white-space: nowrap;
  opacity: 0;
  pointer-events: none;
  transition: 0.4s;
}
.sidebar li .info i {
  /* warna icon sidebar */
  color: #61677f;
}
.sidebar.open li a .links_nameinfo {
  opacity: 1;
  pointer-events: auto;
}
.sidebar li a:hover .links_nameinfo,
.sidebar li a:hover i {
  transition: all 0.5s ease;
  color: #ffffff;
}

/* how to use */
.sidebar li a .links_namehow {
  color: #61677f;
  font-size: 15px;
  font-weight: 400;
  white-space: nowrap;
  opacity: 0;
  pointer-events: none;
  transition: 0.4s;
}
.sidebar li .how i {
  /* warna icon sidebar */
  color: #61677f;
}
.sidebar.open li a .links_namehow {
  opacity: 1;
  pointer-events: auto;
}
.sidebar li a:hover .links_namehow,
.sidebar li a:hover i {
  transition: all 0.5s ease;
  color: #ffffff;
}

/* about */
.sidebar li a .links_nameabout {
  color: #61677f;
  font-size: 15px;
  font-weight: 400;
  white-space: nowrap;
  opacity: 0;
  pointer-events: none;
  transition: 0.4s;
}
.sidebar li .about i {
  /* warna icon sidebar */
  color: #61677f;
}
.sidebar.open li a .links_nameabout {
  opacity: 1;
  pointer-events: auto;
}
.sidebar li a:hover .links_nameabout,
.sidebar li a:hover i {
  transition: all 0.5s ease;
  color: #ffffff;
}

/* akhir icon icon */

.sidebar li i {
  height: 50px;
  line-height: 50px;
  font-size: 18px;
  border-radius: 12px;
}
.sidebar li.profile {
  position: fixed;
  height: 60px;
  width: 78px;
  left: 0;
  bottom: -8px;
  padding: 10px 14px;
  background: #1d1b31;
  transition: all 0.5s ease;
  overflow: hidden;
}
.sidebar.open li.profile {
  width: 250px;
}
.sidebar li .profile-details {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
}
.sidebar li img {
  height: 45px;
  width: 45px;
  object-fit: cover;
  border-radius: 6px;
  margin-right: 10px;
}
.sidebar li.profile .name,
.sidebar li.profile .job {
  font-size: 15px;
  font-weight: 400;
  color: #fff;
  white-space: nowrap;
}
.sidebar li.profile .job {
  font-size: 12px;
}
.sidebar .profile #log_out {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  background: #1d1b31;
  width: 100%;
  height: 60px;
  line-height: 60px;
  border-radius: 0px;
  transition: all 0.5s ease;
}
.sidebar.open .profile #log_out {
  width: 50px;
  background: none;
}
.home-section {
  position: relative;
  background: #f6f6f6; /* warna backgound utama*/
  min-height: 100vh;
  top: 0;
  left: 78px;
  width: calc(100% - 78px);
  transition: all 0.5s ease;
  z-index: 2;
  overflow: hidden;
  color: #fff;
  font-size: 16px;
  padding: 18px 34px;
  text-align: justify;
}

.home-section .container .content-info {
  background-color: #ffffff;
  color: #242a37;
}

.home-section .container-info {
  background-color: #ffffff;
}

.sidebar.open ~ .home-section {
  left: 250px;
  width: calc(100% - 250px);
}
.home-section .text {
  position: absolute;
  display: inline-block;
  color: #fff;
  font-size: 25px;
  font-weight: 600;
  margin: 18px;
  float: none;
}

/* .home-section .stechoq {
  float: right;
  width: 160px;
  height: 35px;
  margin: 18px;
} */

.home-section .container-chart {
  width: auto;
  margin-bottom: 45px;
  background: #ffffff;
  box-sizing: border-box;
  border: 1px solid;
  border-radius: 5px;
}
.home-section .container-output {
  width: 100%;
  float: right;
  background: #ffffff;
  box-sizing: border-box;
  border-radius: 5px;
  border: 1px solid;
  text-align: center;
  margin-bottom: 4%;
}
.home-section .container-input {
  width: 48%;
  justify-content: center;
  margin-left: 1%;
  margin-right: 1%;
  float: left;
  background: #ffffff; /* warna inputan bakcground peep dan presue*/
  box-sizing: border-box;
  border-radius: 5px;
  border: 2px solid;
  text-align: center;
  margin-bottom: 4%;
  color: #ffd428;
}

#inPressure {
  border: #ffffff;
  width: 90%;
}

#inPeep {
  border: #ffffff;
  width: 90%;
}

#setTimer {
  border: #ffffff;
  width: 90%;
}

.title-sensor {
  color: #242a37;
  font-weight: 700;
  font-size: 16px;
  justify-content: center;
  text-align: center;
}

.pressureGraph {
  width: 100%;
}

.flowGrap {
  width: 100%;
}

.container-output button {
  background-color: transparent;
  cursor: pointer;
  border-radius: 5px;
  width: 100%;
}

.container-output-2 .start-button {
  border: 2px solid #ece1b5;
  background-color: #484b6a;
  cursor: pointer;
  border-radius: 15px;
  width: 100%;
  margin-bottom: 20px;
}

.container-output-2 .reset-button {
  border: 2px solid #ece1b5;
  background-color: #484b6a;
  cursor: pointer;
  border-radius: 15px;
  width: 65%;
  margin-top: 48px;
  margin-bottom: 15px;
}

#pressureBtn {
  color: #fff;
}

#pressureBtn:hover {
  color: #242a37;
}

.start-button:hover {
  border: 2px solid #ffd428;
  background-color: #d2d3db;
  cursor: pointer;
  border-radius: 15px;
  width: 100%;
  color: #242a37;
}

.reset-button:hover {
  border: 2px solid #ffd428;
  background-color: #d2d3db;
  cursor: pointer;
  border-radius: 15px;
  width: 65%;
  color: #242a37;
}

.sensor-output .value {
  margin-left: 20px;
  float: left;
  font-family: "Rounded Mplus 1c", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 100px;
}
.flow {
  color: #85e426;
}
.pressure {
  color: #24d4ec;
}

.unit {
  color: #1d1b31;
  font-size: 15px;
  padding-top: 5px;
  padding-right: 20px;
  float: right;
  font-weight: 600;
}

.sensor-output .unit-output {
  font-weight: 700;
  font-size: 30px;
  text-decoration-line: underline;
  padding-top: 35px;
}
.home-section .container-chart .title {
  padding-top: 10%;
  padding-left: 5%;
  color: #242a37; /* warna huruf atas chart */
  /* padding-right: 70%; */
  font-weight: 600;
  font-size: 24px;
}
.home-section .container-chart .unit {
  float: right;
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
}

.home-section .text {
  color: #242a37;
}

.container-input .anchor {
  color: #242a37; /* warna huruf inputan peep dan pressure */
}

.a {
  display: flex;
  justify-content: center;
}

input {
  text-align: center;
  border-radius: 5px;
  width: 100%;
  background-color: #e4e5f1; /*warnnaa inputan */
  color: #242a37;

  font-family: "Rounded Mplus 1c";
  font-weight: 500;
  font-size: 55px;
}

.home-section .container {
  width: 80%;
  height: 70%;
  border: 2px solid #ffd428;
  border-radius: 5px;
  /* background: rgba(36, 42, 55, 1); */
  background: #ffffff;
  margin: 10% 10%;
}

.home-section .container .content-info {
  /* padding-top: 5%;
  padding-right: 7%;
  padding-left: 7%; */
  padding-top: 44px;
  padding-right: 76px;
  padding-left: 52px;
  /* text-transform: uppercase; */
  font-style: normal;
  /* font-weight: 500;
  font-size: 100%;
  line-height: 150%; */
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}

.home-section .container .img-info {
  width: 80%;
  height: 60%;
  padding-left: 35%;
  padding-right: 8%;
  padding-top: 7%;
  margin-bottom: -0.6%;
  /* width: 100%;
  height: 299px;
  padding-left: 195px;
  padding-right: 195px; */
}
.home-section .container .content {
  display: flex;
}

.home-section .container .content .how-to-use {
  padding-top: 24px;
  padding-left: 48px;
  padding-right: 50px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 26px;
  color: #242a37;
}
.home-section .container .content .img-how-to-use {
  padding-right: 2%;
  /* width: 40%; */
  /* height: 1%; */
  margin-top: 220px;
}

.home-section .container .content .about {
  position: absolute;
  padding-top: 12%;
  padding-left: 16%;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  text-transform: uppercase;
  color: #242a37;
}

.home-section .container .content .img-about {
  width: 30%;
  height: 20%;
  margin-top: 27%;
  margin-left: 67%;
  border-bottom-right-radius: 5%;
  background-color: #ffffff;
}

.left-area {
  margin-top: 70px;
  float: left;
  width: 63%;
}

.right-area {
  margin-top: 70px;
  width: 35%;
  float: right;
}

.chart {
  display: flex;
  flex-wrap: wrap;
}

.text-start {
  padding: 10px;
  align-items: center;
}

.text-reset {
  color: white;
}

.text-reset:hover {
  color: #242a37;
}

/* menu switch
.sidebar .sidebar-footer .mode{
  position: relative;
  border-radius: 6px;
  background: var(--primary-color-light);
}
.sidebar .sidebar-footer .mode .moon-sun{
  height: 50px;
  width: 60px;
  display: flex;
  align-items: center;
}
.sidebar .sidebar-footer .mode i{
  position: absolute;
  transition: var(--tran-04);
}
.sidebar .sidebar-footer .mode i.sun{
  opacity: 0;
}

body.dark .sidebar .sidebar-footer .mode i.sun{
  opacity: 1;
}
body.dark .sidebar .sidebar-footer .mode i.moon{
  opacity: 0;
}

.sidebar .sidebar-footer .mode .toggle-switch{
  position: absolute;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  min-width: 60px;
  border-radius: 6px;
  cursor: pointer;
  transition: var(--tran-05);
}

.toggle-switch .switch{
  position: relative;
  height: 22px;
  width: 44px;
  border-radius: 25px;
  background: var(--toggle-color);
}

.switch::before{
  content: '';
  position: absolute;
  height: 15px;
  width:15px;
  border-radius: 50%;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  background: var(--sidebar-color);
  transition: var(--tran-03);
}
body.dark .switch::before{
  left: 25px;
} */

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 70px;
  height: 30px;
}

.switch-align {
  float: right;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #E4E5F1;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 4px;
  bottom: 2px;

  background-color: #484B6A;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #24d4ec;
}

input:focus + .slider {
  box-shadow: 0 0 1px #24d4ec;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
  margin-top: 8%;
  margin-right: 20%;
}

.slider.round:before {
  border-radius: 50%;
  /* margin-top: 15%; */
}
